<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Published at</th>
      <th scope="col">Author id</th>
    </tr>
  </thead>
  <tbody>
    <div id="<%= dom_id post %>">
      <tr>
        <th scope="row"><%= post.id %></th>
        <td> <%= post.title %></td>
        <td><%= post.description %></td>
        <td><%= post.published_at %></td>
        <td><%= post.author_id %></td>
      </tr>
    </div>
  </tbody>
</table>
